* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body{
    background-image: url(./assets/train-back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    z-index: 1;
}

body::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: -1;
    opacity: 0.4;
}

.btn {
    display: flex;
    padding: 10px 10px;
    color: white;
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    border-radius: 50px;
    height: 85px;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin-top: 30px;
}

#reg-form, #search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#reg-form h1,
h2,
p {
    text-align: center;

}

#reg-form h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-align: center;
}

#search-form h1 {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}

#reg-form h2 {
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.reg-form {
    justify-content: center;
    align-items: center;
    padding: 100px 100px;
    width: 100%;
    /* text-align: center; */
}

.search-form {
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    /* width: 100%;     */
}

.reg-container {
    padding: 16px;
    background-color: whitesmoke;
    width: 60%;
}

.search-container {
    padding: 16px;
    background-color: whitesmoke;
    border-radius: 50px;
    width: 60%;
}

#reg-form .row{
    display: flex;
    font-size: 12px;
}

#reg-form .column{
    flex: 50%;
    margin: 10px 10px;
}

#search-form .row{
    flex: 50%;
    margin: 0px 10px;
}

#search-form .column{
    display: flex;
    font-size: 12px;
}

#search-form label {
    font-size: 14px;
}

#reg-form label {
    font-size: 14px;
}

/* Full-width input fields */
input[type=text],
input[type=password],
input[type=date],
input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    /* border: none; */
    background: #f1f1f1;
    font-size: larger;
}

input[type=text]:focus,
input[type=password],
input[type=date],
input[type=number]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 12.5px;
}

/* Set a style for the submit button */
.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}

/* registration form end */

.form-control-lg {
    height: calc(1.5em + 3rem + 2px);
    font-size: 2.25rem;
}

label{
    font-size: 22px;
}

button a{
    color: white;
    font-size: 25px;
}

.text-green{
    color: #4CAF50;
}